<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1534649394-98pts94l83s9309oijhplbo0duvu9abd</string>
			</array>
		</dict>
	</array>
	<key>CLIENT_ID</key>
	<string>1534649394-98pts94l83s9309oijhplbo0duvu9abd.apps.googleusercontent.com</string>
	<key>GOOGLE_API_KEY</key>
	<string>AIzaSyDPhRChykNC_taNdUH_giBROhKJfIP6erg</string>
	<key>UIAppFonts</key>
	<array>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>ReemKufi-Regular.ttf</string>
	</array>
</dict>
</plist>
